<mat-tab-group mat-align-tabs="center" animationDuration="0ms" [dynamicHeight]="true" [selectedIndex]="0">
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon class="tab-icon" icon="glass-cheers" size="3x"></fa-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-enter-current-day></app-enter-current-day>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon class="tab-icon" icon="user" size="3x"></fa-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-statistics-single></app-statistics-single>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon class="tab-icon" icon="users" size="3x"></fa-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-statistics-all></app-statistics-all>
    </ng-template>
  </mat-tab>
</mat-tab-group>
