.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding-top: 20px;
  padding-bottom: 20px;
}

.text-center {
  text-align: center;
}

.first {
  padding-top: 50px;
  padding-bottom: 0;
}
